{extend name="index_layout"/}
{block name="main"}
<style type="text/css">
.p_tex{line-height:38px;color:#666;}
.layui-form-label{width: 120px}
.layui-table-view .layui-table{width:100%}
.layui-form-label{width:40px}
.layui-form-item{margin:20px 0}
#frameid{    width: 250px;
    padding: 10px;}
.text-center{text-align: center !important;}
.text-large{font-size:24px!important;font-weight:900!important;}
.form-control{display: inline-block;padding: 5px;}
input[type="checkbox"]{
  display: inline-block!important;
}
.myinput{border:none;display: inline-block;background-color: #eeeeee;padding:5px;}
.text-limit{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 110px;}
</style>
<div class="layui-card">
    <div class="layui-card-body">
        <form id="myform" class="form-horizontal" action="{:url('admin/Offerlist/edit')}" method="post">
          <table class="layui-table mould"> 
                <thead>
                    <tr>
						<th rowspan="2" colspan="2"><img style="max-width:200px;" src="__STATIC__/imgs/logo.png"></th>
                        <th class="text-center text-large" colspan="5"><h3>住宅装饰工程造价预算书</h3></th>
						<th rowspan="2" colspan="3"></th>
                    </tr>
					<tr>
						<th class="text-center" colspan="6">全国统一24小时客服热线：400-6281-968</th>
					</tr>
                    <tr>
                        <th style="text-align:center;" colspan="10">
                          单位：
                        </th>        
                    </tr>
                    <tr>
                        <th colspan="3">工程名称：</th>       
                        <th colspan="3">客户姓名：</th>       
                        <th colspan="2">设计师姓名：</th>       
                        <th colspan="2">报价师姓名：</th>       
                    </tr>
                    <tr>
                        <th class="text-center" rowspan="2">序号</th>         
                        <th class="text-center" rowspan="2" colspan="1">工程项目名称</th>         
                        <th class="text-center" rowspan="2">工程量</th>       
                        <th class="text-center" rowspan="2">单位</th>
                        <th class="text-center" colspan="2">辅材费</th> 
                        <th class="text-center" colspan="2">人工费</th>    
                        <th class="text-center" rowspan="2">施工工艺及材料说明</th> 
                    </tr>
                    <tr>   
                        <th class="text-center">辅材基价</th>       
                        <th class="text-center">辅材合价</th>       
                        <th class="text-center">人工基价</th>       
                        <th class="text-center">人工合价</th> 
                      </tr>
                </thead>

                <tbody> 
					{notempty name="data"}
                        <?php 
                            $num1 = 65;
                            $total_quota = 0;
                            $total_craft_show = 0;
                        ?>
                        {foreach name="data" item="v1" key="k1"}
                            <tr data-cate="">
                                <td><?php echo chr($num1); ?></td>
                                <td colspan="2">{$k1}</td>
                                <td colspan="7"></td>
                            </tr>
                            <?php $num1++;$num2=97; ?>
                            {foreach name="$v1" key="k2" item="v2"}
                                <?php 
                                    $num1 = 65;
                                    $space_quota = 0;
                                    $space_craft_show = 0;
                                ?>
                                <tr id="">
                                    <td><?php echo chr($num2); ?></td>
                                    <td class="text-center" colspan="9">{$k2}</td>
                                </tr>
                                <?php $num3=1; $num2++; ?>
                                {foreach name="$v2" item="v3" key="k3"}
                                    <tr class="">
                                        <td>{$num3}</td>
                                        <td>{$offerquota[$k3]['project']}</td>
                                        <td>{$v3}</td>
                                        <td>{$offerquota[$k3]['company']}</td>
                                        <td>{$offerquota[$k3]['quota']}</td>
                                        <td>{$v3?$v3*$offerquota[$k3]['quota']:''}</td>
                                        <td>{$offerquota[$k3]['craft_show']}</td>
                                        <td>{$v3?$v3*$offerquota[$k3]['craft_show']:''}</td>
                                        <td class="text-limit">{$offerquota[$k3]['material']}</td>
                                    </tr>
                                    <?php 
                                        $space_quota += $v3?$v3*$offerquota[$k3]['quota']:0;
                                        $space_craft_show += $v3?$v3*$offerquota[$k3]['craft_show']:0;
                                        $total_quota += $v3?$v3*$offerquota[$k3]['quota']:0;
                                        $total_craft_show += $v3?$v3*$offerquota[$k3]['craft_show']:0;
                                        $num3++;
                                     ?>
                                {/foreach}
                                <tr class="">
                                    <td class="text-center" colspan="2">小计</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{$space_quota}</td>
                                    <td></td>
                                    <td>{$space_craft_show}</td>
                                    <td></td>
                                </tr>
                            {/foreach}
                                <tr class="">
                                    <td class="text-center" colspan="2">合计</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{$total_quota}</td>
                                    <td></td>
                                    <td>{$total_craft_show}</td>
                                    <td></td>
                                </tr>
                        {/foreach}
                    {/notempty}
                </tbody>
            </table>
        </form>
		</div>
</div>

<div>

</div>

<form style="display:inline-block;" id="addone"></form>
{/block}

{block name="script"}
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

{/block}