{extend name="index_layout"/}
{block name="main"}
<style type="text/css">
    .daoru{position:absolute;top:1px;right:-50px;height:35px}
</style>
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">
            <blockquote class="layui-elem-quote news_search">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm" href="{:url('admin/manager/add')}">添加管理员</a>
                </div>
                <div class="layui-input-inline" style="margin-left:30px;">
                   <form method="post" action="{:url('Manager/index')}" class="form-signin" enctype="multipart/form-data">
                    <input type="text" name="search" placeholder="登陆名、手机号、分公司" autocomplete="off" class="layui-input">
                    <input type="submit" value="搜索" class="layui-btn layui-btn-sm daoru">
                  </form>
                 </div>  
                 <!-- 下拉框查询分公司 -->
            <!--     <div class="layui-input-inline" style="float: right;">
                    <select name="companyid" lay-filter="companyid">
                        <option value=""></option>
               
                    </select>
                </div>  -->
            </blockquote>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>操作</th>
                        <th>登录名</th>
                        <th>手机号</th>
                        <th>所属角色</th>
                        <th>所属公司</th>
                        <!-- <th>最后登录地址</th> -->
                        <!-- <th>最后登录时间</th> -->
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="Userlist" id="vo"}
                    <tr>
                        <td>{$vo['userid']}</td>
                        <td>
                            <a class="" href="{:url('admin/manager/edit',['id'=>$vo.userid])}"><i class="layui-icon layui-icon-edit" title="编辑"></i></a>
                            <a class="ajax-get confirm" url="{:url('admin/manager/del',['id'=>$vo.userid])}"><i class="layui-icon layui-icon-delete" title="删除"></i></a>

                            <a class=" {php} echo ($vo['status']==1)?'':'layui-btn layui-btn-disabled layui-btn-xs'{/php}  ajax-get confirm" url="{:url('admin/manager/bankai',['id'=>$vo.userid,'status'=>$vo.status])}">{php} echo ($vo['status']==1)?'<i class="layui-icon layui-icon-close" title="禁用"></i>':'已禁用'{/php}</a>

                        </td>
                        <td>{$vo.username}</td>
                        <td>{$vo.phone}</td>
                        <td>{php} echo model('admin/AuthGroup')->getRoleIdName($vo['roleid']) {/php}</td>
                        <td>{php} echo $vo['companyid'] ? getcid($vo['companyid']) : '总公司' {/php}</td>
                        <!-- <td>{php} echo $vo['last_login_address'] ? ($vo['last_login_address']) : '--' {/php}</td> -->
                        <!-- <td>{php} echo $vo['last_login_time'] ? time_format($vo['last_login_time']) : '--' {/php}</td> -->
                        <td>{$vo.email}</td>

                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block} {block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
 //下拉选择分公司（第二种方案）   
 layui.use('form', function(){   
    var form = layui.form;
    form.on('select(companyid)', function(data){
      // alert(data.value); return false;
      if(!data.value){layer.msg('选项为空');return false;}
        $.ajax({
            type : 'post',
            url  : '{:url("Manager/myquery")}',
            dataType : 'json',
            data : {value:data.value},
            success : function(re){
                if(re.status != 0){
                    layer.msg(re.msg);
                }else{
                    var _html = '';
                    for (var i = 0; i < re.data.length; i++) {
                      _html += '<tr>';
                      _html += '<td>'+re.data[i]['userid']+'</td>';
                      _html += '<td><a class="layui-btn layui-btn-xs" href="__AJAXURL__/manager/edit/id/'+re.data[i]['userid']+'">编辑</a><a class="layui-btn layui-btn-danger layui-btn-xs ajax-get confirm" url="__AJAXURL__/manager/del/id/'+re.data[i]['userid']+'">删除</a></td>';
                      _html += '<td>'+re.data[i]['username']+'</td>';
                      _html += '<td>'+re.data[i]['phone']+'</td>';
                      _html += '<td>'+re.data[i]['roleid']+'</td>'
                      _html += '<td>'+re.data[i]['companyid']+'</td>'                
                      _html += '<td>'+re.data[i]['email']+'</td>';
                      _html += '</tr>'; 
                    }
                    $("tbody").html(_html);
                }     
            }
        });
    });
  });  
</script>
{/block}