{extend name="index_layout"/}
{block name="main"}
<style type="text/css">
/*分页样式*/
.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
.pagination .active{background-color: #dd1a20;color: #fff;}
.pagination .disabled{color:#aaa;}
.onfile {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.onfile input {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    opacity: 0;
}
.onfile:hover {
  opacity:0.8;
  color: #1E88C7
   /* background: #AADFFD;
    border-color: #78C3F3;
    color: #fff;
    text-decoration: none;*/
}
.daoru{position:absolute;top:1px;right:-90px;}
.daorus{position:absolute;top:1px;right:-50px;height:35px}
.bigbox{padding:10px}
.bigbox input{margin-bottom:10px}
#imgs{position:relative;}
.batchs span{cursor:pointer;}
.form-control{display: inline-block;padding: 5px;}
.select_tmp{
    height:30px;
}
.layui-btn+.layui-btn{
    margin-left: 3px;
}
.ulall li{float:left;border: 1px solid #ccc;padding: 5px;margin-right: 5px;}
.layui-tab-title li {
  padding: 0;
}
.layui-tab-title li a{
  padding: 0 25px;
}
</style>

  <!-- 导出完成 -->
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">

            <blockquote class="layui-elem-quote news_search">
                <div class="layui-tab layui-tab-brief">
                  <ul class="layui-tab-title">
                    <li class="layui-this"><a href="{:url('admin/offerlist/index',['customer_id'=>input('customer_id')])}">半包</a></li>
                    <li class=""><a href="{:url('admin/furniture_orther/order_list',['customer_id'=>input('customer_id'),'type'=>2])}">主材</a></li>
                    <li class=""><a href="{:url('admin/furniture_orther/order_list',['customer_id'=>input('customer_id'),'type'=>3])}">智能、家电</a></li>
                    <li class=""><a href="{:url('admin/furniture_orther/order_list',['customer_id'=>input('customer_id'),'type'=>4])}">软装</a></li>
                  </ul>
                  <div class="layui-tab-content"></div>
                </div>
                <div class="layui-inline">
                   <ul class="ulall">
                      <li>客户姓名：{$userinfo.customer_name}</li>
                      <li>工程地址：{$userinfo.address}</li>
                      <li>联系电话：</li>
                      <li>报价师姓名：{$userinfo.quoter_name}</li>
                      <li>设计师姓名：{$userinfo.designer_name}</li>
                      <li>面积：{$userinfo.area}</li>
                      <li>房屋类型：{$userinfo.room_type}</li>
                      {eq name="$userinfo['is_new']" value="9"}<li>签单时间：{$userinfo.oldtime|date="Y-m-d"}</li>{/eq}
                      <li class="click print" style="display: none" title="打印"><i class="layui-icon layui-icon-print"></i></li>
                   </ul>
                </div>
            </blockquote>
            <script type="text/html" id="toolbarDemo">
              <div class="layui-btn-container">
              </div>
            </script>

            <table class="layui-table" lay-filter="test3"  lay-data="{id: '#test3',toolbar:'#',limit:20,page:'true',height:600}">
                <thead >
                    <tr>
                        <th class="taleft" lay-data="{field:'id', width:60,}">ID</th>
                        <!-- <th class="taleft" lay-data="{field:'customer_name',width:150}">客户姓名</th>
                        <th class="taleft" lay-data="{field:'area',width:60}">面积</th>
                        <th class="taleft" lay-data="{field:'room_type',width:100}">房屋类型</th>  -->
                        <th class="taleft" lay-data="{field:'history',width:285}">操作</th>
                        <th class="taleft" lay-data="{field:'manager_name',width:100}">非标</th>
						<th class="taleft" lay-data="{field:'status',width:110,{neq name="$admininfo['roleid']" value="10"}event:'set_status'{/neq}}">状态</th>
                        <!-- <th class="taleft" lay-data="{field:'address',width:250}">工程地址</th> -->
                        <!-- <th class="taleft" lay-data="{field:'manager_name',width:100}">客户经理</th> -->
                        <!-- <th class="taleft" lay-data="{field:'quoter_name',event: 'setSign',}">报价师姓名</th> -->
                        <!-- <th class="taleft" lay-data="{field:'designer_name',}">设计师姓名</th> -->
                        <th class="taleft" lay-data="{field:'proquant',width:120}">工程报价</th>
                        <th class="taleft" lay-data="{field:'direct_cost',width:120 }">工程直接费</th>
                        <th class="taleft" lay-data="{field:'matquant',width:100 }">辅材报价</th>
                        <th class="taleft" lay-data="{field:'manual_quota',width:100 }">人工报价</th>
                        <!-- <th class="taleft" lay-data="{field:'tubemoney',width:100,edit:'text' }">管理费</th>
                        <th class="taleft" lay-data="{field:'taxes',width:100,edit:'text' }">税金</th> -->
                        <th class="taleft" lay-data="{field:'discount_zk',width:180}">折扣优惠</th>
                        <th class="taleft" lay-data="{field:'discount',edit:'text',width:100}">金额优惠</th>
                        <th class="taleft" lay-data="{field:'discount_content',edit:'text' }">金额优惠说明</th>
                        <th class="taleft" lay-data="{field:'tmp_id',width:100}">取费模板</th>
                        <th class="taleft" lay-data="{field:'remark',width:100,edit:'text'}">备注</th>
                        <th class="taleft" lay-data="{field:'entrytime',width:150}">录入时间</th>
                        <th class="taleft" lay-data="{field:'cad',width:100}">图纸</th>
                    </tr>
                </thead>
                <tbody>

                  {foreach name="data" item="vo"}
                     <tr>
                      <td class="taleft">{$vo.id}</td>
                      <!-- <td class="taleft">{$vo.customer_name}</td>
                      <td class="taleft">{$vo.area|default=''}</td>
                      <td class="taleft">{$vo.room_type|default=''}</td> -->
                      <td class="taleft">
						{eq name=":input('type')" value="edit"}
						  <a class="layui-btn layui-btn-xs" href="{:url('admin/offerlist/zengjian',['id'=>$vo.id,'report_id'=>$vo.id])}">选择</a>
						{else/}
                            <a class="layui-btn layui-btn-xs layui-btn-warm" href="{:url('admin/offerlist/history',['customerid'=>$vo.customerid,'report_id'=>$vo.id])}">点击查看</a>
                            {if($admininfo['roleid'] != 10 && $admininfo['roleid'] != 22 && $vo['status'] >= 3 && $vo['status'] < 5)}
                                <a class="layui-btn layui-btn-xs" href="{:url('admin/order_append/add_index',['customer_id'=>$vo.customerid,'order_id'=>$vo.id])}">增减项</a>
                            {/if}
                            {gt name="$vo['append_num']" value="0"}
    						  <a class="layui-btn layui-btn-xs layui-btn-normal" href="{:url('admin/order_append/show_append',['order_id'=>$vo.id])}">查看增减项</a>
                            {/gt}
                            {if($admininfo['roleid'] != 10 && $admininfo['roleid'] != 22)}
                                <a class="layui-btn layui-btn-xs layui-btn-primary" href="{:url('admin/offerlist/add_order',['customer_id'=>$vo.customerid,'report_id'=>$vo.id])}">另存订单</a>
                            {/if}
                            <!-- <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="show_append">查看增减项</a> -->
						{/eq}


					   </td>
                         <td>
                             {if $vo.no_standard=="1"}
                             <span  key="{$vo.id}" class="layui-btn layui-btn-xs  fbsh">提交审核</span>
                             {elseif $vo.no_standard=="3" /}待审核
                             {elseif $vo.no_standard=="4" /}待审核
                             {elseif $vo.no_standard=="5" /}审核成功
                             {elseif $vo.no_standard=="6" /}审核驳回
                             {else/}无非标
                             {/if}
                         </td>


						<td>
							{switch name="$vo.status"}
									{case value="0"} <a class="layui-btn layui-btn-xs layui-btn-primary">未报价</a>{/case}
									{case value="1"} <a class="layui-btn layui-btn-xs">已报价</a>{/case}
									{case value="2"} <a class="layui-btn layui-btn-xs layui-btn-normal">预算价</a>{/case}
                                    {case value="3"} <a class="layui-btn layui-btn-xs layui-btn-warm">合同价(未审)</a>{/case}
									{case value="4"} <a class="layui-btn layui-btn-xs layui-btn-warm">合同价</a>{/case}
									{case value="5"} <a class="layui-btn layui-btn-xs">结算价</a>{/case}
									{default /}
									<a class="layui-btn layui-btn-xs layui-btn-primary">未报价</a>
							{/switch}
						</td>
                      <td class="taleft">{$vo.info.discount_proquant}</td>
                      <td class="taleft">{$vo.info.direct_cost}</td>
                      <td class="taleft">{$vo.info.matquant}</td>
                      <td class="taleft">{$vo.info.manual_quota}</td>
                      <td class="taleft">{if($vo['info']['discount_type']==2)}<a lay-event="set_discount" data-type="{$vo['info']['discount_type']}" data-num="{$vo.info.discount_num}">整单{$vo.info.discount_num}折/￥{$vo.info.discount_zk}</a>{elseif ($vo['info']['discount_type']==3) /}<a lay-event="set_discount" data-type="{$vo['info']['discount_type']}" data-num="{$vo.info.discount_num}">人工{$vo.info.discount_num}折/￥{$vo.info.discount_zk}</a>{else /}<a lay-event="set_discount" data-type="1" data-num="">设置优惠</a>{/if}</td>
                      <td class="taleft">{$vo.info.discount}</td>
                      <td class="taleft">{$vo.info.discount_content}</td>
                      <td class="taleft">{$vo.info.tmp_cost_id?'<a class="" data-id="'.$vo.info.tmp_cost_id.'" lay-event="show_tmp">'.$tmp_cost[$vo.info.tmp_cost_id]['tmp_name'].'</a>':'<a lay-event="check_tmp"><i title="选择模板" class="layui-icon layui-icon-set-sm"></i></a>'}</td>
                      <td class="taleft">{$vo.info.remark}</td>
                      <td class="taleft">{$vo.info.entrytime|date="Y-m-d H:s"}</td>
                         {if $vo.cad_file!=''}
                         <td class="taleft"><a href="/admin/offerlist/down?id={$vo.id} ">下载</a></td>
                         {else /}
                         {/if}

                    </tr>
                 {/foreach}
                </tbody>
            </table>

        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script type="text/javascript">
     function add_tr(o){
        html  = '     <tr>'
        html += '       <td><input class="layui-input" name="name[]" /></td>'
        html += '       <td><input class="layui-input" name="sign[]" /></td>'
        html += '       <td><input class="layui-input" name="formula[]" /></td>'
        html += '       <td><input class="layui-input" name="rate[]" /></td>'
        html += '       <td><input class="layui-input" name="content[]" /></td>'
        html += '       <td><a href="javascript:;" onclick="delete_tr(this)"><i class="layui-icon layui-icon-delete "></i></a></td>'
        html += '     </tr>'
        $('#add_word tbody').append(html);
    }
    function delete_tr(o){
        $(o).parent().parent().remove();
    }
    //简单显示上传文件信息
     $("#imgInput").change(function(e){
       var fileMsg = e.currentTarget.files;
       var fileName = fileMsg[0].name;
       var fileSize = Math.floor(((fileMsg[0].size)/1024))+'kb';
       var fileType = fileMsg[0].type;
       var _html = '<p>文件名：'+fileName+'</p><p>文件大小：'+fileSize+'</p><p>文件类型：'+fileType+'</p>'
         layer.tips(_html, '#imgs', {
          tips: [1, '#3595CC'],
          area:["auto","auto"],
          time: 5000
        });
       $("#imgs").html("<span style='color:green;position:absolute;top:-25px;right:-5px;font-size:20px'>✔</span>");
    });
    $("#tishi").click(function(){
      var content = '<p>这是我定义的说明<br />只能导入excel文件。其他后缀名不识别<br />下载空模板可以使用添加数据导入</p>';
      //自定页
      layer.tips(content, '#tishi', {
          tips: [4, '#3595CC'],
          area:["auto","auto"],
          time: 5000
        });

       });
</script>
<script type="text/javascript">
layui.use('table', function(){
  var table = layui.table;

  //工具栏事件
  table.on('toolbar(test3)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    var data = checkStatus.data;
    // var shujuzu = JSON.stringify(data);//json数据组
    // layer.alert(JSON.stringify(data));return false;
    if (obj.event == 'getCheckData'){
      if(data.length == 0){
          layer.msg('请勾√选数据');
       }else{
         var jsonObj = JSON.parse(JSON.stringify(data));//转换为json对象
         var hezi = "";
         for (var i = 0; i < data.length; i++) {
           hezi += jsonObj[i]['id']+',';
         }
         hezi = hezi.substring(0, hezi.length - 1);//移除最后一个逗号
        // layer.alert(hezi);return false;
          var box = '<div class="batchs"><span data-fieldval="type_of_work">工种</span><br /><span data-fieldval="project">工程项目</span><br /><span data-fieldval="company">单位</span><br /><span data-fieldval="cost_value">成本价值</span><br /><span data-fieldval="quota">报价定额</span><br /><span data-fieldval="craft_show">工艺说明</span><br /><span data-fieldval="material">工艺说明辅材明细</span></div>';

        //自定页
        layer.tips(box, '#batch', {
            tips: [2, '#3595CC'],
            area:["auto","auto"],
            time: 5000
          });

        $('.batchs span').click(function(){
            var fieldval = $(this).data('fieldval');
            var fieldtext = $(this).text();
            var newcon = '<div class="zidauns"><input type="text" style="text-align:center;margin:10px;width:96%" name="valname" autocomplete="off" value="" class="layui-input"><button id="edit_batch" style="margin-left:190px" class="layui-btn ajax-post">立即提交</button></div>';
            //页面层
            layer.open({
              type: 1,
              fixed: false,    //取消固定定位，因为固定定位是相对body的
              offset: ['20%', '30%'],   //相对定位
              skin: 'layui-layer-rim', //加上边框
              area: ['500px', '150px'], //宽高
              title: '输入修改<span style="color:green">'+fieldtext+'</span>字段内容',
              content: newcon
            });
            $("#edit_batch").click(function(){
                var xiugais = $(this).parents(".zidauns").find("input[name='valname']").val();
                if (!xiugais){layer.msg('字段不能为空');return false}
                // alert(fieldval+'--'+xiugais+'-----'+hezi);return false;
                $.ajax({
                  type : 'post',
                  url  :  '{:url("offerlist/batchedit")}',
                  dataType : 'json',
                  data : {batchname:fieldval,value:xiugais,idarray:hezi},
                  success : function(re){
                    if(re.status == 0){
                       layer.msg(re.msg);
                       window.location.reload();

                    }else{
                      layer.msg(re.msg);return false;
                    }
                  }
                 });
            });

        });

       }
    }

  });






  // 监听单元格编辑
  table.on('edit(test3)', function(obj){
    var value = obj.value //得到修改后的值
    ,data = obj.data //得到所在行所有键值

    ,field = obj.field; //得到字段
    // layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
    // alert('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
    $.ajax({
        type : 'post',
        url  :  '{:url("offerlist/singlefield_edit")}',
        dataType : 'json',
        data : {id:data.id,field:field,value:value,pro_apartment_type:data.pro_apartment_type,area:data.area},
        success : function(re){
          if(re.status == 1){
             layer.msg(re.msg);return false;
          }
          layer.msg(re.msg);
          // window.location.reload();
        }
    });
  });

  //监听行单击事件（单击事件为：rowDouble）
  // table.on('rowDouble(test3)', function(obj){
  //   var data = obj.data;
  //   var newdata = JSON.stringify(data);

  //   layer.alert(newdata, {
  //     title: '当前行数据：'
  //   });

  //   //标注选中样式
  //   obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
  // });

  //监听单元格事件
    table.on('tool(test3)', function(obj){
        var data = obj.data;
        if(obj.event === 'show_append'){
            $.ajax({
                type : 'post',
                url  :  '{:url("order_append/ajax_get_append_all")}',
                dataType : 'json',
                data : {o_id:data.id},
                success : function(re){
                if(re.code === 0){
                    var html = '<table style="text-align:center" class="layui-table"><thead><tr><th style="text-align:center">工种</th><th style="text-align:center">空间</th><th style="text-align:center">项目编码</th><th style="text-align:center">项目名称</th><th style="text-align:center">数量</th></tr></thead><tbody>';
                    $.each(re.datas, function (k1, v1) {
                        $.each(v1, function (k2, v2) {
                            $.each(v2, function (k3, v3) {
                                html += '<tr><td>'+k1+'</td><td>'+k2+'</td><td>'+k3+'</td><td>'+v3.project+'</td><td>'+v3.num+'</td></tr>'
                            });
                        });
                    });
                    // html += '<tr><td>小计</td><td>'+toDecimal2(re.total)+'</td><td></td><td></td></tr>'
                    html += '</tbody></table>'
                    //显示人工明细
                    layer.open({
                        title: '增减项',
                        area: ['600px', '500px'],
                        content:html
                    });
                    }else{
                        layer.msg(re.msg);return false;
                    }
                }
            });
        }else if(obj.event == 'show_tmp'){
            var data = obj.data;
            var tmp_id = $(data.tmp_id).data('id');
            layui.use('layer', function(){
                var layer = layui.layer;
                $.post('/admin/quote/get_order_tmp_cost',{id:data.id},function(res){
                    if(res.code == 1){
                        var html  = '<form id="editform">'
                        html += '   <table class="layui-table" id="add_word" >'
                        html += '     <colgroup>'
                        html += '         <col width="150">'
                        html += '         <col width="100">'
                        html += '         <col width="250">'
                        html += '         <col width="200">'
                        html += '         <col width="200">'
                        html += '         <col width="30">'
                        html += '         <col>'
                        html += '     </colgroup>'
                        html += '     <thead>'
                        html += '       <tr>'
                        html += '           <th>字段名称</th>'
                        html += '           <th>标识符</th>'
                        html += '           <th>公式</th>'
                        html += '           <th>费率(范围0-100)</th>'
                        html += '           <th>说明</th>'
                        html += '           <th><a href="javascript:;" onclick="add_tr(this)"><i class="layui-icon layui-icon-add-1"></i></a></th>'
                        html += '       </tr> '
                        html += '     </thead>'
                        html += '     <tbody>'
                        html += '     <tr>'
                        html += '       <td>直接费</td>'
                        html += '       <td>A1</td>'
                        html += '       <td>A1</td>'
                        html += '       <td>100</td>'
                        html += '       <td></td>'
                        html += '       <td></td>'
                        html += '     </tr>'
                        html += '     <tr>'
                        html += '       <td>优惠</td>'
                        html += '       <td>A2</td>'
                        html += '       <td>A2</td>'
                        html += '       <td>100</td>'
                        html += '       <td></td>'
                        html += '       <td></td>'
                        html += '     </tr>'
                        $(res.default_cost).each(function(k,v){
                            html += '     <tr>'
                            html += '       <td>'+v.name+'</td>'
                            html += '       <td>'+v.sign+'</td>'
                            html += '       <td>'+v.formula+'</td>'
                            html += '       <td>'+v.rate+'</td>'
                            html += '       <td>'+v.content+'</td>'
                            html += '       <td></td>'
                            html += '     </tr>'
                        })
                        $(res.append_cost).each(function(k,v){
                            html += '     <tr>'
                            html += '       <td><input class="layui-input" value="'+v.name+'" name="name[]" /></td>'
                            html += '       <td><input class="layui-input" value="'+v.sign+'" name="sign[]" /></td>'
                            html += '       <td><input class="layui-input" value="'+v.formula+'" name="formula[]" /></td>'
                            html += '       <td><input class="layui-input" value="'+v.rate+'" name="rate[]" /></td>'
                            html += '       <td><input class="layui-input" value="'+v.content+'" name="content[]" /></td>'
                            html += '       <td><a href="javascript:;" onclick="delete_tr(this)"><i class="layui-icon layui-icon-delete "></i></a></td>'
                            html += '     </tr>'
                        })
                        html += '     </tbody>'
                        html += '     <tfoot>'
                        html += '       <tr>'
                        html += '           <td>模板名称</td>'
                        html += '           <td colspan="5">'+res.datas[0].tmp_name+'</td>'
                        html += '       </tr>'
                        html += '     </tfoot>'
                        html += '   </table>'
                        html += ' </form>'
                        layer.open({
                            content: html,
                            title:'查看/修改模板',
                            area: ['680px', '580px'], //宽高
                            btn: ['提交', '取消'],
                            yes: function(index, layero){
                                var addform = $('#editform').serializeArray();
                                var datas = {};
                                $.each(addform, function() {
                                    if (datas[this.name]) {
                                        if (!datas[this.name].push) {
                                            datas[this.name] = [ datas[this.name] ];
                                        }
                                        datas[this.name].push(this.value || '');
                                    } else {
                                        datas[this.name] = this.value || '';
                                    }
                                });
                                datas['o_id'] = data.id;
                                datas['tmp_id'] = tmp_id;
                                $.post('/admin/quote/apennd_tmp_cost',datas,function(res){
                                    if(res.code === 0){
                                        alert(res.msg);
                                    }else{
                                        layer.msg(res.msg);
                                        window.location.reload();
                                    }
                                },'json')
                            },
                            btn2: function(index, layero){
                                layer.close(index);
                            },
                            cancel: function(){
                            //return false 开启该代码可禁止点击该按钮关闭
                            }
                        });
                    }else{
                        layer.msg(res.msg);
                    }
                },'json')
            })
        }else if(obj.event == 'check_tmp'){
            var data = obj.data;
            $.post('/admin/quote/get_tmp_cost_list',{tmp_id:tmp_id},function(res){
                if(res.code == 1){
                    var html = '';
                    html += '<select id="check_tmp" class="select_tmp">';
                    $(res.datas).each(function(k,v){
                        html += '<option value="'+v.tmp_id+'">'+v.tmp_name+'</option>';
                    })
                    html += '</select>';
                    layer.open({
                    content: html,
                    title:'选择模板',
                    btn: ['确定'],
                    yes: function(index, layero){
                        var tmp_id = $('#check_tmp').val();
                        $.post('/admin/offerlist/check_tmp_cost',{tmp_id:tmp_id,o_id:data.id},function(res){
                            if(res.code == 1){
                                layer.msg(res.msg)
                                setTimeout(function () {
                                    window.location.href = res.url;
                                }, 1000);
                            }else{
                                layer.msg(res.msg)
                            }
                        })
                    },
                    cancel: function(){
                    //return false 开启该代码可禁止点击该按钮关闭
                    }
                });
                }else{
                    layer.msg(res.msg);
                }
            },'json')

        }else if(obj.event=== 'set_status'){
            if(data.status.indexOf("合同价") >= 0){
                layer.msg('合同价禁止修改标签');
                return false;
            }
            if(data.status.indexOf("结算价") >= 0){
                layer.msg('结算价禁止修改标签');
                return false;
            }
            var html =
                     '<div class="layui-form-item" style="margin-bottom:5px">'
                    + '     <label class="layui-form-label" style="line-height:25px">选择标签</label>'
                    + '     <div class="layui-input-block">'
                    + '          <select id="set_status" style="height:25px;margin:10px;">'
                    + '               <option value="0">未报价</option>'
                    + '               <option value="1">已报价</option>'
                    + '               <option value="2">预算价</option>'
                    + '               <option value="3">合同价</option>'
                    // + '               <option value="4">结算价</option>'
                    + '          </select>'
                    + '     </div>'
                    + '</div>'
                    + '<div class="layui-upload" id="upload_file" style="margin-bottom:5px;text-align:center;display:none">'
                    + '     <button type="button" class="layui-btn layui-btn-radius layui-btn-primary" id="test8">上传CAD图</button>'
                    + '<br />'
                    + '     <button type="button" style="margin-top:5px" class="layui-btn layui-btn-normal" id="test9">修改标签</button>'
                    + '     <button type="button" style="margin-top:5px" class="layui-btn close">取消</button>'
                    + '</div>'
                    + '<div style="text-align:center;" id="set_status_btn">'
                    + '     <button type="button" class="layui-btn layui-btn-normal" data-id="'+data.id+'" id="set_status_submit">修改标签</button>'
                    + '     <button type="button" class="layui-btn close">取消</button>'
                    + '</div>';

                layer.open({
                    title: '设置标签',
                    area: ['300px', '200px'], //宽高
                    type:1,
                    content: html
                });

            layui.use('upload', function(){
                var upload = layui.upload;
                upload.render({
                    elem: '#test8',
                    url: '/admin/offerlist/upload_cad/',
                    auto: false,
                    accept:'file',
                    size:10240,
                    //,multiple: true
                    bindAction: '#test9',
                    data:{
                        o_id:data.id,
                        status:3,
                        customer_id:{:input('customer_id')}
                    },
                    done: function(res){
                        if(res.code == 1){
                            layer.closeAll();
                            layer.msg(res.msg);
                            setTimeout(function () {
                                window.location.reload();
                            }, 500);
                        }else{
                            layer.msg(res.msg);
                        }
                        return false;
                    }
                });
            });
        }else if(obj.event == 'set_discount'){
            if(data.status.indexOf("结算价") >= 0){
                layer.msg('结算价禁止修改标签');
                return false;
            }
            var type = $(data.discount_zk).data('type');
            var num = $(data.discount_zk).data('num');
            var option1 = '';
            var option2 = '';
            var option3 = '';
            if(type == 1){
                option1 = 'selected';
            }
            if(type == 2){
                option2 = 'selected';
            }
            if(type == 3){
                option3 = 'selected';
            }
            var html = '';
            html +=   '<div class="layui-form-item" style="margin-bottom:5px">'
            html +=   '     <label class="layui-form-label" style="line-height:25px">优惠方式：</label>'
            html +=   '     <div class="layui-input-block">'
            html +=   '          <select id="discount_type" style="height:25px;margin:10px;">'
            html +=   '               <option value="1" '+option1+'>不打折</option>'
            html +=   '               <option value="2" '+option2+'>整单打折</option>'
            html +=   '               <option value="3" '+option3+'>人工打折</option>'
            html +=   '          </select>'
            html +=   '     </div>'
            html +=   '</div>'
            html +=   '<div class="layui-form-item" style="margin-bottom:5px">'
            html +=   '     <label class="layui-form-label" style="line-height:25px">优惠额度：</label>'
            html +=   '     <div class="layui-input-block">'
            html +=   '          <input id="discount_num" value="'+num+'" class="layui-input" style="width:60px;display:inline" /> %'
            html +=   '          <span style="display:block">（若打9折，应输入90）</span>'
            html +=   '     </div>'
            html +=   '</div>'
            html +=   '<div style="text-align:center;" id="set_status_btn">'
            html +=   '     <button type="button" class="layui-btn layui-btn-normal" data-id="'+data.id+'" id="set_discount_submit">修改优惠</button>'
            html +=   '     <button type="button" class="layui-btn close">取消</button>'
            html +=   '</div>';
            layer.open({
                title: '设置优惠',
                area: ['300px', '200px'], //宽高
                type:1,
                content: html
            });
        }
    });
});
$(document).on('click','.close',function(){
    layer.closeAll();
})
$(document).on('change','#set_status',function(){
    var status = $(this).val();
    if(status == 3){
        $('#upload_file').show();
        $('#set_status_btn').hide();
    }else{
        $('#upload_file').hide();
        $('#set_status_btn').show();
    }
})
$(document).on('click','#set_status_submit',function(){
    // layer.closeAll();
    var status = $('#set_status').val();
    var id = $(this).data('id');
    if(status == 3){
        layer.msg('非法操作');
        return false;
    }
    $.ajax({
        type : 'post',
        url  :  '{:url("offerlist/status")}',
        dataType : 'json',
        data : {id:id,status:status},
        success : function(res){
            if(res.code == 1){
                layer.closeAll();
                layer.msg(res.msg);
                setTimeout(function () {
                    window.location.reload();
                }, 500);
                return false;
            }else{
                layer.msg(res.msg);
                return false;
            }
        }
    });
})
$(document).on('click','#set_discount_submit',function(){
    // layer.closeAll();
    var discount_type = $('#discount_type').val();
    var discount_num = $('#discount_num').val();
    var id = $(this).data('id');
    var ex = /^\d+$/;
    if ((!ex.test(discount_num) || discount_num <= 0 || discount_num >100) && discount_type > 1) {
        alert('折扣输入有误');
    }
    $.ajax({
        type : 'post',
        url  :  '{:url("offerlist/set_discount")}',
        dataType : 'json',
        data : {id:id,discount_type:discount_type,discount_num:discount_num},
        success : function(res){
            if(res.code == 1){
                layer.closeAll();
                layer.msg(res.msg);
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
                return false;
            }else{
                alert(res.msg);
                return false;
            }
        }
    });
})
</script>

<script>
$(function () {
    $(document).on('click','.fbsh', function(){
      var a=$(this).attr('key');
        $.ajax({
            type: "get",
            url: "/admin/Offerlist/fbsh",
            data: {key:a,status:3},
            success: function (e) {
                if(e.code == '0'){
                    layer.msg('权限不足');
                }
                console.log(e);
                window.location.reload();
            },

        })
    });
})
</script>
{/block}